<p style="color: green"><%= notice %></p>

<h1>cathegories</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this category", group %>
    </p>
  <% end %>
</div>
