
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<div class='button_container'>
  <%= link_to new_group_path do%>
    <button>New category</button>
  <% end %>
</div>
