<div class='splash_title'><h1>SmartPay</h1></div>

<div class='splash_links'>
  <%= link_to "Log in", users_log_in_path %><br />
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
</div>

