<div class='splash_container'>
  <div class='splash_title flex_centered_column'><h1 class='splash_h1'>SmartPay</h1></div>

  <div class='splash_button_container flex_centered_column'>
    <%= link_to "LOG IN", users_log_in_path, class: 'splash_link_one flex_centered_column' %>
    <%= link_to "SIGN UP", new_registration_path(resource_name), class: 'splash_link_two flex_centered_column' %>
  </div>
</div>
