@import 'categories_index';

* {
  margin: 0;
  padding: 0;
}

img {
  width: 30px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
}

.app_body {
  background-color: #f0f2f1;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.navbar {
  margin: 0;
  height: 100%;
}

