.card {
  margin-bottom: 10px;
  border-radius: 0;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #5fb523;
  position: fixed;
  bottom: 0;
  padding: 15px;
}

.normal_button {
  width: 100%;
  height: 100%;
  background-color: #5fb523;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
}

