.splash_container {
  height: 100vh;
}

.splash_title {
  height: 80%;
  justify-content: center;
}

.splash_h1 {
  font-family: 'Nanum Brush Script', cursive;
  font-weight: 900;
  font-size: 50px;
}

.splash_button_container {
  justify-content: center;
  height: 20vh;
}

.splash_link_one {
  width: 90%;
  height: 50px;
  background-color: #3778c2;
  border-radius: 3px;
  justify-content: center;
  color: #fff;
}

.splash_link_two {
  width: 90%;
  height: 50px;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .splash_button_container {
    position: fixed;
    width: 200px;
    right: 20px;
    bottom: 20px;
    padding: 20px 0 20px 0;
    border-radius: 5px;
  }
}
